{% load nav_tags %}
{% url_name_in 'index' 'company-edit' as is_index_page %}
{% url_name_in 'user' 'add-user' 'edit-user' 'delete-user' as is_user_page %}
{% url_name_in 'category' 'category-add' 'category-edit' as is_category_page %}
{% url_name_in 'menu-item' 'add-new-menu-items' 'menu-edit' as is_menu_page %}
{% url_name_in 'orders' as is_orders_page %}
{% url_name_in 'tables' as is_tables_page %}
{% url_name_in 'sale-record' as is_sale_record_page %}
{% url_name_in 'profile' as is_profile_page %}
<div class="bg-dark sidebar" id="sidebar-wrapper">
    <div class="sidebar-heading">POS System</div>
    <div class="list-group list-group-flush">
        <a href="{% url 'dashboard:dashboard-home' %}" 
           class="list-group-item list-group-item-action bg-dark text-white nav-link {% if is_index_page %}active{% endif %}">
            <i class="bi bi-speedometer2 me-2"></i> Dashboard
        </a>

        <a href="{% url 'dashboard:user' %}" 
           class="list-group-item list-group-item-action bg-dark text-white nav-link {% if is_user_page %}active{% endif %}">
            <i class="bi bi-person-fill me-2"></i> အသုံးပြုသူများ
        </a>

        <a href="{% url 'dashboard:category' %}" 
           class="list-group-item list-group-item-action bg-dark text-white nav-link {% if is_category_page %}active{% endif %}">
            <i class="bi bi-tags me-2"></i> အမျိုးအစား
        </a>

        <a href="{% url 'dashboard:menu-item' %}" 
           class="list-group-item list-group-item-action bg-dark text-white nav-link {% if is_menu_page %}active{% endif %}">
            <i class="bi bi-shop me-2"></i> မီနူးပစ္စည်းများ
        </a>

        <a href="{% url 'dashboard:orders' %}" 
           class="list-group-item list-group-item-action bg-dark text-white nav-link {% if is_orders_page %}active{% endif %}">
            <i class="bi bi-cart-fill me-2"></i> မှာယူမှုများ
        </a>

        <a href="{% url 'dashboard:tables' %}" 
           class="list-group-item list-group-item-action bg-dark text-white nav-link {% if is_tables_page %}active{% endif %}">
            <i class="bi bi-table me-2"></i> စားပွဲများ
        </a>

        <a href="{% url 'dashboard:sale-record' %}" 
           class="list-group-item list-group-item-action bg-dark text-white nav-link {% if is_sale_record_page %}active{% endif %}">
            <i class="bi bi-cash-coin me-2"></i> အရောင်းမှတ်တမ်း
        </a>

        <a href="{% url 'dashboard:profile' %}" 
           class="list-group-item list-group-item-action bg-dark text-white nav-link {% if is_profile_page %}active{% endif %}">
            <i class="bi bi-person-circle me-2"></i> Profile
        </a>

        <a href="{% url 'website:logout-view' %}" class="list-group-item list-group-item-action bg-dark text-white nav-link">
            <i class="bi bi-box-arrow-right me-2"></i> Logout
        </a>
    </div>
</div>

