{% extends '../base.html' %}
{% load pagination_tags %}
{% block title %}User Lists{% endblock %}
{% block content %}
<div id="user-section" class="content-section mt-5">
    <div class="card" id="user-list-view">
        <div class="card-body">
            <div class="d-flex justify-content-between align-items-center mb-4">
                <h5 class="card-title text-primary"><i class="bi bi-person-fill me-2"></i> အသုံးပြုသူများ စာရင်း</h5>
                <a href="{% url 'dashboard:add-user' %}" id="show-add-user-form" class="btn btn-sm btn-primary rounded-pill"><i
                        class="bi bi-person-plus me-1"></i>အသုံးပြုသူအသစ်ထည့်ရန်</a>
            </div>
            <div class="table-responsive">
                <table class="table table-striped table-hover">
                    <thead>
                        <tr>
                            <th scope="col">No</th>
                            <th scope="col">Account</th>
                            <th scope="col">Name</th>
                            <th scope="col">Email</th>
                            <th scope="col">Phone</th>
                            <th scope="col">Staff Level</th>
                            <th scope="col">Profile Image</th>
                            <th scope="col">လုပ်ဆောင်ချက်များ</th>

                        </tr>
                    </thead>
                    <tbody>
                        {% for user in user_objects %}
                        <tr>
                            <td>{{ forloop.counter0|add:user_objects.start_index }}</td> <!-- Row number -->
                            <td>{{ user.username }}</td> <!-- Account -->
                            <td>{{ user.first_name }} {{ user.last_name }}</td> <!-- Name -->
                            <td>{{ user.email }}</td> <!-- Email -->
                            <td>{{ user.profile.phone }}</td> <!-- Phone -->
                            <td>{{ user.profile.get_staff_level_display }}</td> <!-- Staff Level -->
                            <td>
                                {% if user.profile.profile %}
                                <img src="{{ user.profile.profile.url }}" alt="Profile Image" height="40" />
                                {% else %}
                                No Image
                                {% endif %}
                            </td>
                            <td>
                                <a href="{% url 'dashboard:edit-user' user.id %}" class="btn btn-sm btn-outline-secondary me-2"><i class="bi bi-pencil mx-2"></i>ပြင်ရန်</a>
                                <a href="{% url 'dashboard:delete-user' user.id %}" class="btn btn-sm btn-outline-danger"><i class="bi bi-trash mx-2"></i>ဖျက်ရန်</a>
                            </td>
                        </tr>
                        {% empty %}
                        <tr>
                            <td colspan="7" class="text-center">No users found.</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            
            {% render_pagination user_objects %}
        </div>
    </div>
</div>
{% endblock %}